# Path to mount vagrant home folder, to allow you to edit files on your host
#   machine with tools on your host. Also, if you want to work on a fork of
#   reddit, you can replace the `$HOME/reddit` folder with whatever you want.
# 
# reddit_folder: '../reddit'

